.icon {
    font-size: 10px;
}

.icon:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("../svg/sprite.svg");
    background-repeat: no-repeat;
    background-size: 11.5em 48.5em;
}

.no-svg .icon:before {
    background-image: url("../svg/sprite.png");
}

.icon.dj:before {
    background-position: 0em 0em;
    width: 5.4em;
    height: 4.5em;
}

.icon.package:before {
    background-position: 0em -4.5em;
    width: 3.2em;
    height: 3.2em;
}

.icon.photo:before {
    background-position: 0em -7.7em;
    width: 6.4em;
    height: 4.5em;
}

.icon.stuzkova:before {
    background-position: 0em -12.2em;
    width: 10em;
    height: 11.1em;
}

.icon.svadba:before {
    background-position: 0em -23.3em;
    width: 10em;
    height: 10.7em;
}

.icon.udalost:before {
    background-position: 0em -34em;
    width: 11.5em;
    height: 10em;
}

.icon.video:before {
    background-position: 0em -44em;
    width: 6.4em;
    height: 4.5em;
}

