$color-primary: #c59d58;
$color-text: #959595;

$breakpoint-small: 768px;
$breakpoint-landscape: 480px;
$breakpoint-medium: 992px;
$breakpoint-large: 1200px;
$breakpoint-full: 1400px;
$breakpoint-quadhd: 1921px;