body {
	background: #aaa;
}

ul {
	margin: 0;
	padding: 0 !important;
	list-style: none;
}

.wow {
   visibility: hidden;
}

#lg-download {
	display: none;
}

.container {
	padding: 0 15px;
	max-width: 1600px;
	margin: 0 auto;

	@include breakpoint($breakpoint-quadhd) {
		max-width: 90%; 
	}
}

.content {
	min-height: 700px;
	background: #fff;
}

.content--static {
	position: relative;
	z-index: 2;
	margin-top: 81px;

	@include breakpoint($breakpoint-small) {
		margin-top: 111px;
	}

	@include breakpoint($breakpoint-medium) {
		margin-top: 131px;
	}

	@include breakpoint($breakpoint-full) {
		margin-top: 171px;
	}

	@include breakpoint(1600px) {
		margin-top: 211px;
	}			

	@include breakpoint($breakpoint-quadhd) {
		margin-top: 232px;
	}	
}

.sidebar {
	position: fixed; 
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: #111;
	z-index: 2;
	transform: translateX(100%);
	transition: .15s ease all;
	opacity: 0;
	
	@include breakpoint($breakpoint-small) {
		max-width: 290px; // This is set dynamically through javascript
		left: auto;
		width: 100%;
	}
}

.sidebar.sidebar--toggled {
	transform: none;
	opacity: 1;
}

body.sidebar--toggled {
	.header--static {
		position: static;
	}

	@include breakpoint($breakpoint-small) {
		.header--static {
			position: fixed;
		}
	}
}

.menu {
	padding-left: 30px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	text-align: center;
}

.menu__item {
	margin-bottom: 25px;

	&:last-child {
		margin-bottom: 0;
	}
}

.menu__link {
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	font-size: 17px;
	transition: .15s ease all;

	@include breakpoint($breakpoint-small) {
		font-size: 13px;
	}

	@include breakpoint($breakpoint-medium) {
		font-size: 14px;
	}

	@include breakpoint(1600px) {
		font-size: 17px;
	}

	&:hover {
		color: $color-primary;
	}
}

.btn {
	display: table;
	margin: 0 auto;
	text-decoration: none;
	outline: none;
	padding: 10px 35px;
	font-weight: bold;
	border: 2px solid #fff;
	border-radius: 50px;
	transition: .15s ease color background;

	@include breakpoint($breakpoint-quadhd) {
		padding: 13px 40px;
	}	
}

.btn--primary {
	color: $color-primary;
	border-color: $color-primary;
	background: none;

	&:hover {
		text-shadow: none;
		background: $color-primary;
		color: #fff;
	}	
}

.btn--secondary {
	color: #fff;
	text-shadow: 1px 1px 5px rgba(0,0,0,.1);
	
	&:hover {
		text-shadow: none;
		background: #fff;
		color: #222;
	}
}

.page-header {
	position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 40px 0 20px;
	
	&::after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		width: 25px;
		height: 5px;
		background: $color-primary;		
	}
}

.page-icon {
	img {
		width: 60px;
		height: auto;
		display: block;
		margin-right: 15px;
	}
}