body {
	background: #aaa;
}

ul {
	margin: 0;
	padding: 0 !important;
	list-style: none;
}

.container {
	padding: 0 15px;
	max-width: 1600px;
	margin: 0 auto;

	@include breakpoint($breakpoint-quadhd) {
		max-width: 90%; 
	}
}

.content {
	min-height: 700px;
	background: #fff;
}

.sidebar {
	position: fixed; 
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: #111;
	z-index: 1;
	transform: translateX(100%);
	transition: .15s ease all;
	
	@include breakpoint($breakpoint-small) {
		width: 290px;
		left: auto;
	}
}

.sidebar.sidebar--toggled {
	transform: none;
}

.sidebar__button {
	@extend .header__button;
	
	display: none;
	position: absolute;
	top: 40px;
	left: 50%;
	transform: translateX(-50%);

	@include breakpoint($breakpoint-small) {
		display: block;
	}

	@include breakpoint($breakpoint-medium) {
		top: 50px;
	}

	@include breakpoint($breakpoint-full) {
		top: 70px;
	}

	@include breakpoint(1600px) {
		top: 90px;
	}		
}

.sidebar__button__bar {
	@extend .header__button__bar;

	&:nth-child(1),
	&:nth-child(4) {
		opacity: 0;
		top: 18px;
	}

	&:nth-child(2) {
		transform: rotate(45deg);
	}

	&:nth-child(3) {
		transform: rotate(-45deg);
	}		
}

.sidebar__menu {
	padding-left: 30px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	text-align: center;
}

.sidebar__menu__item {
	margin-bottom: 25px;

	&:last-child {
		margin-bottom: 0;
	}
}

.sidebar__menu__link {
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	font-size: 17px;
	transition: .15s ease all;

	&:hover {
		color: $color-primary;
	}
}

.btn {
	display: table;
	margin: 0 auto;
	text-decoration: none;
	outline: none;
	padding: 10px 35px;
	font-weight: bold;
	border: 2px solid #fff;
	border-radius: 50px;
	transition: .15s ease all;

	@include breakpoint($breakpoint-quadhd) {
		padding: 13px 40px;
	}	
}

.btn--primary {
	color: $color-primary;
	border-color: $color-primary;

	&:hover {
		text-shadow: none;
		background: $color-primary;
		color: #fff;
	}	
}

.btn--secondary {
	color: #fff;
	text-shadow: 1px 1px 5px rgba(0,0,0,.1);
	
	&:hover {
		text-shadow: none;
		background: #fff;
		color: #222;
	}
}

.page-header {
	position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 40px 0 20px;
	
	&::after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		width: 25px;
		height: 5px;
		background: $color-primary;		
	}
}

.page-icon {
	img {
		width: 60px;
		height: auto;
		display: block;
		margin-right: 15px;
	}
}