/**
 * Services
 */
.services {
	background: url('/images/site/hero_mobile.jpg');
	background-size: cover;
	background-position: 50% 50%;
	
	@include breakpoint($breakpoint-small) {
		background-image: url('/images/site/hero_1200.jpg');
		height: calc(100vh - 50px);	
		
		.container {
			display: flex;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
		}	
	}	

	@include breakpoint($breakpoint-large) {
		background-image: url('/images/site/hero_1920.jpg');

		.container {
			width: 90%;
			left: 50%;
			transform: translateY(-50%) translateX(-50%);
		}
	}

	@include breakpoint($breakpoint-full) {
		.container {
			width: 70%;
		}		
	}

	@include breakpoint($breakpoint-quadhd) {
		background-image: url('/images/site/hero_2560.jpg');
		height: calc(100vh - 70px);
	}
}

.services__item {
	text-align: center;
	padding: 0 0 50px;
	transform: translateY(50px);
	opacity: 0;
	transition: .8s ease;

	&.loaded {
		transform: none;
		opacity: 1;
	}

	&:first-child {
		padding-top: 90px;
	}

	&:nth-child(2) {
		transition-delay: 150ms;
	}

	&:nth-child(3) {
		transition-delay: 300ms;
	}	
	
	@include breakpoint($breakpoint-small) {
		padding: 0 15px 60px;
		position: relative;
		margin-bottom: 30px;
		width: 33.33%;

		&:first-child {
			padding-top: 0;
		}
	}

	@include breakpoint($breakpoint-medium) {
		padding: 0 30px 60px;
	}

	@include breakpoint($breakpoint-large) {
		padding: 0 30px 80px;
	}
}

.services__icon {
	img {
		width: 80px;
	}

	@include breakpoint($breakpoint-small) {
		img {
			width: 100px;
		}
	}

	@include breakpoint($breakpoint-large) {
		img {
			width: 120px;
			margin-bottom: 10px;
		}
	}

	@include breakpoint($breakpoint-quadhd) {
		img {
			width: 180px;
			margin-bottom: 20px;
		}
	}
}

.services__title {
	font-family: 'Nexa', 'Times New Roman', serif;
	color: #fff;
	font-size: 35px;
	margin: 0 0 -20px; // Negative bottom margin to compensate for superweird 'Nexa' line height
	text-shadow: 1px 1px 5px rgba(0,0,0,.1);

	@include breakpoint($breakpoint-small) {
		margin-bottom: 20px;
	}

	@include breakpoint($breakpoint-large) {
		font-size: 45px;
	}

	@include breakpoint($breakpoint-full) {
		font-size: 60px;
	}	

	@include breakpoint($breakpoint-quadhd) {
		font-size: 70px;
	}		
}

.services__description {
	max-width: 300px;
	margin: 20px auto 0;
	
	p {
		color: #fff;
		text-shadow: 1px 1px 5px rgba(0,0,0,.2);
	}

	br {
		display: none;
	}

	@include breakpoint($breakpoint-large) {
		max-width: 340px;

		p {
			font-size: 14px;
		}
	}

	@include breakpoint($breakpoint-quadhd) {
		max-width: 400px;

		p {
			font-size: 16px;
		}
	}	
}

.services__btn {
	margin-top: 20px;

	@include breakpoint($breakpoint-small) {
		position: absolute;		
		bottom: 0;
		width: 100px;
		left: 50%;
		transform: translateX(-50%);
	}

	@include breakpoint($breakpoint-full) {
		width: 130px;
	}
}	