.page--references {
	.header {
		background-image: url('/images/site/references_480.jpg');
		background-size: cover;
		background-position: 50% 50%;

        @media 	only screen and (-webkit-min-device-pixel-ratio: 1.5),
        		only screen and (min-resolution: 144dpi),
        		(-webkit-min-device-pixel-ratio: 144),
        		(min-resolution: 144dppx) {
			background-image: url('/images/site/references_480@2x.jpg');
        }		

		@include breakpoint($breakpoint-landscape) {
			background-image: url('/images/site/references_768.jpg');
		}

		@include breakpoint($breakpoint-medium) {
			background-image: url('/images/site/references_1200.jpg');	
		}

		@include breakpoint($breakpoint-large) {
			background-image: url('/images/site/references_1920.jpg');	
		}

		@include breakpoint($breakpoint-quadhd) {
			background-image: url('/images/site/references_2560.jpg');	
		}		
	}
}

.references {
	text-align: center;
	padding-bottom: 40px;

	.btn {
		margin-top: 50px;
	}	
}

.reference__body {
	max-width: 600px;
	margin: 20px auto;

	p {
		color: #959595;
	}

	@include breakpoint($breakpoint-medium) {
		margin: 40px auto;
	}
}

.reference__photos {
	max-width: 1300px;
	margin: 20px auto;

	@include breakpoint($breakpoint-small) {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
	}

	img {
		max-width: 100%;
	    border: 1px solid #CCC;
	    margin: -1px -1px 6px;		
	    cursor: pointer;
	}
}

.reference__photo {
	@include breakpoint($breakpoint-small) {
		width: calc(50% - 5px);
	}

	@include breakpoint($breakpoint-medium) {
		width: calc(33.33% - 8px);
	}
}