.page--references {
	.header {
		background-image: url('/images/site/kontakt_480.jpg');
		background-size: cover;
		background-position: 50% 50%;

        @media 	only screen and (-webkit-min-device-pixel-ratio: 1.5),
        		only screen and (min-resolution: 144dpi),
        		(-webkit-min-device-pixel-ratio: 144),
        		(min-resolution: 144dppx) {
			background-image: url('/images/site/kontakt_480@2x.jpg');
        }		

		@include breakpoint($breakpoint-landscape) {
			background-image: url('/images/site/kontakt_768.jpg');
		}

		@include breakpoint($breakpoint-medium) {
			background-image: url('/images/site/kontakt_1200.jpg');	
		}

		@include breakpoint($breakpoint-large) {
			background-image: url('/images/site/kontakt_1920.jpg');	
		}

		@include breakpoint($breakpoint-quadhd) {
			background-image: url('/images/site/kontakt_2560.jpg');	
		}		
	}
}

.references {
	text-align: center;
	padding-bottom: 40px;

	.btn {
		margin-top: 50px;
	}	
}

.reference__body {
	margin-top: 10px;

	p {
		color: #959595;
	}
}

.reference__photos {
	margin-top: 20px;

	img {
		max-width: 100%;
	}
}