@font-face {
    font-family: 'Montserrat';
    src: url('/assets/fonts/montserrat/montserrat-light-webfont.eot');
    src: url('/assets/fonts/montserrat/montserrat-light-webfont.eot?#iefix') format("embedded-opentype"), 
         url('/assets/fonts/montserrat/montserrat-light-webfont.woff') format("woff"), 
         url('/assets/fonts/montserrat/montserrat-light-webfont.ttf') format("truetype"), 
         url('/assets/fonts/montserrat/montserrat-light-webfont.svg#Montserrat') format("svg");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/assets/fonts/montserrat/montserrat-regular-webfont.eot');
    src: url('/assets/fonts/montserrat/montserrat-regular-webfont.eot?#iefix') format("embedded-opentype"), 
         url('/assets/fonts/montserrat/montserrat-regular-webfont.woff') format("woff"), 
         url('/assets/fonts/montserrat/montserrat-regular-webfont.ttf') format("truetype"), 
         url('/assets/fonts/montserrat/montserrat-regular-webfont.svg#Montserrat') format("svg");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/assets/fonts/montserrat/montserrat-bold-webfont.eot');
    src: url('/assets/fonts/montserrat/montserrat-bold-webfont.eot?#iefix') format("embedded-opentype"), 
         url('/assets/fonts/montserrat/montserrat-bold-webfont.woff') format("woff"), 
         url('/assets/fonts/montserrat/montserrat-bold-webfont.ttf') format("truetype"), 
         url('/assets/fonts/montserrat/montserrat-bold-webfont.svg#Montserrat') format("svg");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Nexa';
    src: url('/assets/fonts/nexa/nexa.eot');
    src: url('/assets/fonts/nexa/nexa.eot?#iefix') format("embedded-opentype"), 
         url('/assets/fonts/nexa/nexa.woff') format("woff"), 
         url('/assets/fonts/nexa/nexa.ttf') format("truetype"), 
         url('/assets/fonts/nexa/nexa.svg#Nexa') format("svg");
    font-weight: 400;
    font-style: normal;
}

body,
html,
h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
span,
input,
button {
    font-family: 'Montserrat';
}

body,
html {
    font-size: 13px;

    @include breakpoint($breakpoint-large) {
        font-size: 14px;
    }
}

p {
    margin: 0;
    padding: 0;
}

h2.page-title {
    font-family: 'Nexa';
    font-size: 30px;
    color: $color-primary;
    margin: 0;
    padding-top: 12px;
}

h2.content-title {
    color: $color-primary;
    font-size: 20px;
    font-weight: bold;
    margin: 50px 0 0;
    padding: 0;
}

h3.content-title {
    color: $color-text;
    font-weight: bold;
    font-size: 15px;
    margin: 20px 0 0;
    padding: 0;
}

h3 {
    color: $color-text;
    font-weight: bold;
    font-size: 15px;
    margin: 0;
    padding: 0;
}
